$colorBlack:#292929;
$colorWhite:#ffffff;
$colorGrayLight:#eaf1f6;
$colorGrayBG:#f0f3f5;
$colorBlueLight:#4077d3;
$colorBlueLight2:#d7e5ef;
$colorBlue:#3f64a2;
$colorBlueDark:#35548c;
$colorGreen:#206036;
$colorGreenDark:#19502c;
$colorGreenLight:#35704a;
$colorPink:#ff1282;
$colorOrange:#d66c51;
$colorGray:#848484;
$colorYellow: #ebc33f;
$colorYellowLight: #f0d376;
// fonts
$fontRhashiBold:'robotoBold',
'Guttman Rashi';


$fontRobotoRegular:'robotoRegular',
arial;
$fontRobotoMedium:'robotoMedium',
arial;
$fontRobotoBold:'robotoBold',
arial;
$fontassistantBold:'assistantBold',
arial;

// font size
$fontSizeSmall:1.4em;
$fontSizeRegular:1.6em;
$fontSizeBig:1.8em;